theme-style = theme1
if theme-style == theme1
  bg-color1 = #051D35
  f-color1 = #47b2f1
  bd-color1 = #009cff
  bg-color2 = #fb1b1b
  f-color2 = #90d9ff
  bd-color2 = #457798
  bg-color3 = #000d17
  f-color3 = #ffffff
  bg-color4 = #010E19
  f-color4 = #b3ffff
  bg-color5 = #131b2a